---
title: Grasp
---

<h1>Grasp</h1>

<div id="options">
  <label title="Shortcut: 1"><input type="radio" name="element-type" data-option-id="1" value="move" /> Move</label>
  <label title="Shortcut: 2"><input type="radio" name="element-type" data-option-id="2" value="arrow" checked="true" /> Arrow</label>
  <label title="Shortcut: 3"><input type="radio" name="element-type" data-option-id="3" value="line" /> Line</label>
  <label title="Shortcut: 4"><input type="radio" name="element-type" data-option-id="4" value="text" /> Text</label>
  <label title="Shortcut: 5"><input type="radio" name="element-type" data-option-id="5" value="ellipse" /> Circle</label>
  <label title="Shortcut: 6"><input type="radio" name="element-type" data-option-id="6" value="rect" /> Rect</label>
  <label title="Shortcut: 7"><input type="radio" name="element-type" data-option-id="7" value="drawing" /> Drawing</label>
  <label title="Shortcut: 8"><input type="radio" name="element-type" data-option-id="8" value="trash" /> Trash</label>
  <input type="button" name="dump-json-to-console" value="Dump JSON to console" />
  <input type="button" name="dump-open-as-image" value="Open as image in a new tab" />
</div>

<canvas id="image-canvas" width="1000" height="600"></canvas>


