---
title: Welcome to Grasp
---

<h1>Grasp is screenshotting</h1>

<label for="draw-line">Draw line</label>
<input type="checkbox" id="draw-line" />

<canvas id="image-canvas" width="600" height="400"></canvas>


