---
title: Welcome to Grasp
---

<h1>Grasp is screenshotting</h1>

<div id="options">
  <label><input type="radio" name="element-type" value="line" checked="true" /> Draw line</label>
  <label><input type="radio" name="element-type" value="circle" /> Circle</label>
  <label><input type="radio" name="element-type" value="trash" /> Trash</label>
</div>

<canvas id="image-canvas" width="600" height="400"></canvas>


