---
title: Grasp
---

<h1>Grasp</h1>

<div id="options">
  <label><input type="radio" name="element-type" value="move"/> Move</label>
  <label><input type="radio" name="element-type" value="line"/> Draw line</label>
  <label><input type="radio" name="element-type" value="ellipse" checked="true" /> Circle</label>
  <label><input type="radio" name="element-type" value="trash" /> Trash</label>
</div>

<canvas id="image-canvas" width="600" height="400"></canvas>


